{% extends 'base.html' %}

{% block sub_menu %}
<ul>
	<li><a href="{% url blog_posts %}">All Posts</a></li><span>|</span>
	<li><a href="{% url blog_create_post %}">Create Post</a></li><span>|</span>
</ul>
{% endblock %}		
		
{% block content %}

<h3>Welcome to mi Blog!</h3>

<div class="posts">
{% for post in posts %}
	<div class="post">
		<div class="title">{{ post.title }}</div>
		<div class="author">posted by: {{ post.author|title }} -</div>
		<div class="date">{{ post.datetime|date:"H:i d M Y" }}</div>
		<div class="content">{{ post.content }}</div>
	</div>
{% endfor%}
</div>

{% endblock %}