<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />	
	
</head>
<body>
	<div id="header">
		<div id="logo">Django Tutorial</div>
		<ul>
			<li><a href="{% url core_home %}">Home</a></li><span>|</span>
			<li><a href="{% url blog_home %}">Blog</a></li><span>|</span>
			<li>Link #2</li><span>|</span>
			<li>Link #3</li><span>|</span>
		</ul>
	</div>
	<div id="sub_menu">
	{% block sub_menu %}			
	{% endblock %}
	</div>
	<div id="content">
	{% block content %}This is the default content!{% endblock %}
	</div>
	<div id="footer">
		<ul>
			<li>link #1</li>
			<li>link #2</li>
			<li>link #3</li>
		</ul>
	</div>
</body>
</html>
